<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Test" value="true"/>
    <add key="InputBarcode" value="True"/>
    <add key="SerialPort" value=""/>
    <add key="CustomerName" value=""/>
    <add key="AvgCount" value="10"/>
  </appSettings>
</configuration>